.cardLocal{
    display: flex;
    
    border: rgb(30, 156, 26);
}


.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}

.th, .td {
    text-align: left;
    border-bottom: 1.5px solid rgb(30, 156, 26);;
}
/*
padding: 15px;
.card-butons {
    margin-top: 6rem;
    margin-left: 2rem;
}
**/
