.card{
    height:2rem;
    margin-top: 2rem;
    margin-bottom: 1vw;
    border-color: #0c9213;
}

.left{
    display: flex;
}

.divModelo{
    color: black;
    font-weight: bold;
    font-size: 3vh;
    margin-left: 20rem;
    margin-right: 20px;
}

.divImg{
    margin-left: 20px;
    margin-right: 20px;
}