.input-texts{
    display: flex;
}
.input-texts input {    
    margin-top: 2vh;
    width: 25vw;
    height: 6vh;
}

.input-texts #seletor{
    display: flex;
    margin-top: 2vh;
    height: 6vh;
}

.input-texts .input-um{
    margin-right: 2vw;
}

.input-texts .input-dois{
    width: 15vw;
    margin-right: 2vw;
}

.input-texts{
    width: 15vw;
}

.btS{
    flex-direction: row-reverse;
    margin-right: 1vw;
    margin-top: -5rem;
}
    
.error{
    color: red;
    flex-direction: column;
    margin-top: 50px;
}

.input-texts .input-um-qnt{
    display: flex;
    margin-right: 2vw;
}

#cor {
    display: flex;
    width: 15vw;
    color: darkgreen;
    margin-top: 2vw;
  }