.item {
    display: flex;
    justify-content: space-between;
}

.colum1{
    font-size: 1.50rem;
    margin-left: 1rem; 
}
.colum2{
    font-size: 2rem; 
    color: #14770b;
}

/**
html {
    
}

body {
font-family: var(--font-family);
font-weight: normal;
background: var(--surface-ground);
color: var(--text-color);
padding: 1rem;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}
*/


