.card{
    margin-top: 10vh;
    border-color: #0da13e;
}
.bt-filtro{
    height: 2.5em;
    margin-top: 1.5em;
    margin-left: 1em;
}
.filtragem{
    margin-top: 2em;
    align-items: center;
}
.input-status{
    margin-top: 2em;
    margin-left: 25vw;
}