.cardZona{
    width: 18rem;
    height: 22rem;
    margin-bottom: 1vw;
    border-color: #0c9213;
}

.left{
    display: flex;
}
.lbNome{
    font-size: bold;
    color: #0c9213;
    margin-top: -2rem;
    margin-left: 1rem;
}

.lbPessoas{
    margin-left: 1rem;
    margin-top: 1.5rem;
    color: #0c9213;
}
.icone{
    display: flex;
    margin-top: 2rem;
    margin-left: -7.5rem;
}

.cardstt{
    margin-top: 5rem;
    margin-right: 8rem;
    height: 4px;
}
.lbStatus{
    color: #080808;
    margin-left: -1rem;
    margin-top: 5rem;

}
.bt{
   
    margin-top: 5rem;
}
