.input-texts{
    display: flex;
}
.input-texts input {    
    margin-top: 2vh;
    width: 25vw;
    height: 6vh;
}

#picture{
    flex-direction: row-reverse;
    color: rgb(13, 65, 33);
    margin: 10px;
}
.input-texts #seletor-tipo{
    display: flex;
    margin-top: 2vh;
    height: 6vh;
}
.flexalign-items-center .input-um{
    margin-right: 2vw;
}
.input-texts .input-um{
    margin-right: 2vw;
}

.input-texts{
    width: 15vw;
}
.input-texts .input-dois{
    width: 15vw;
    margin-right: 2vw;
}
.bts{
    flex-direction: row-reverse;
   
}
.bts .bt{
    flex-direction: row-reverse;

}
.error{
    color: red;
    flex-direction: column;
    margin-top: 50px;
}
