.input-texts{
    display: flex;
}
.input-texts input {    
    margin-top: 2vh;
    height: 6vh;
}

#picture{
    flex-direction: row-reverse;
    color: rgb(13, 65, 33);
    margin: 10px;
}
.input-texts #seletor-tipo{
    display: flex;
    margin-top: 2vh;
    height: 6vh;
}

.input-texts .input-um{
    margin-right: 2vw;
}

 
.input-texts .input-dois{
    margin-right: 2vw;
}


.bts{
    flex-direction: row-reverse;
}
.btS{
    margin-right: 1vw;
    margin-top: 20rem;
    
}

.error{
    color: red;
    flex-direction: column;
    margin-top: 50px;
}

#meuH3 {
    color: darkgreen;
  }
