.card{
    display: flex;
    margin-top: 10vh;
    border-color: #0da13e;
}

.bt-filtro{
    height: 3.5em;
    margin-left: 1em;
    height: 3rem;
}

.filtragem{
    width: 25em; 
    margin-top: 2em;
    
}
.input-status{
    margin-top: -9em;
    margin-left: 25vw;
}